body {
  margin:0;
  padding:0;
  background-color: #ECEFF1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  font-size: .75rem;
  text-align: center;
  color: gray;
  margin-top: auto;
  margin-bottom: .5rem;
}

footer a {
  color: gray;  
}

.search-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2.5rem;
  z-index: 99;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .25rem;
  margin-bottom: 1rem;
  color: #ECEFF1;
  background-color: #546E7A;
}

.top-padding {
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
}

input {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15rem;
}

.hide {
  display: none;
}

.acronym-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .5rem;
  color: #ECEFF1;
}

.acronym-tag {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: .1rem .2rem .1rem .2rem;
  margin-left: .5rem;
  color: #5e5e5e;
}

.acronym-description {
  color: #ECEFF1;
}

a.acronym-link {
  text-decoration: none;
  color: #ECEFF1;
  font-style: italic;
}

a.acronym-tag {
  text-decoration: none;
  background-color: #ECEFF1;
}

a.acronym-tag:hover {
  background-color: #DAE0E6;
}

.acronyms-container {
  background-color: white;
  width: 40rem;
  min-width: 15rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.acronym-card {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 1rem;
  padding: 1rem;
  border-bottom: 2px solid #ECEFF1;
  cursor: pointer;
}

.active, .acronym-card:hover {
  background-color: #B0BEC5;
}

.acronym-expanded {
  display: none;
  overflow: hidden;
}
