body {
  margin:0;
  padding:0
}

.search-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2.5rem;
  z-index: 99;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .25rem;
  margin-bottom: 1rem;
  background-color: #ccc;
}

input {
  font-size: 1rem;
}

.hide {
  display: none;
}

.acronym-cards {
  position: absolute;
  top: 3rem;  
  left: 2rem;
}

.acronym-name {
    width: 150px;
    min-width: 10%;
    max-width: 15%
}

.acronym-body-left-pad {
    width: 150px;
    min-width: 10%;
    max-width: 15%
}

.details-spacer {
  width: 150px;
  min-width: 10%;
  max-width: 15%
}

details {
    padding: .2em .2em 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

summary {
    display: flex;
    flex-direction: row;
    margin: -.2em -.2em 0;
    padding: .2em;
}

details[open] {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: .2rem;
  background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .2rem;
}

.acronym-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .5rem;
}

.acronym-tag {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: .1rem .2rem .1rem .2rem;
    margin-left: .5rem;
}

a.acronym-link {
  text-decoration: none;
  color: #33691e ;
}

a.acronym-tag {
  text-decoration: none;
  color: black;
  background-color: white;
}

a.acronym-tag:hover {
  background-color: #eef6ef;
}

.cardA {
  background-color: white;
}

.cardB {
  background-color: white;
}
